#map {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ffximap-marker {
  border: 1px solid #000000;
  background-color: rgb(44, 216, 96);
  border-radius: 10px;
}

.ffximap-marker .ffximap-marker-blinking {
  animation: fade 1s infinite alternate;
}

.ffximap-connection-marker {	
  height: 30px;
  width: 30px;
  border: 4px solid #644119;

  border-radius: 30px;
  -webkit-border-radius: 30px;

  animation: pulsate 2s ease-out;	
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@keyframes fade { 
  from { opacity: 0.5; } 
}

@keyframes pulsate {
      0% {transform: scale(0.1, 0.1); opacity: 0.0;}
      50% {opacity: 1.0;}
      100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.ffximap-icon-tooltip img {
  display: block;
}

.ffximap-connection-multiple-popup .leaflet-popup-tip,
.ffximap-connection-multiple-popup .leaflet-popup-content-wrapper {
  opacity: 0.95;
  background-color: #efd391;
}


