
.wrapper {
	background: #0ebdb4;
	width: 600px;
}


.map-object {
	background: #be5e5e;
	margin: 10px auto 0;
}

.map-search-box{
	width: 600px;
	background: #fff;
	margin: 200px auto 0;
	border-radius: 5px;
	position: relative;
  
}

.map-search-box-row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

#map-search-input-box{
	flex: 1;
	height: 50px;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 24px; 
	color: #333;
	
}

button{
	background: transparent;
	border: 0;
	outline: 0;
}


::placeholder{
	color: #555;
}

.map-search-result-box{
	max-height: 300px;
	overflow-y: scroll;
	position: absolute;
  width: inherit;
  background: inherit;
}

.map-search-result-box ul{
	border-top: 1px solid #999;
	padding: 15px 10px;
}

.map-search-result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
}

.map-search-result-box ul li:hover{
	background: #e9f3ff;
}

